@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// $primary:#A149FA;
// $primary:#04a777;
$primary:#34d1bf;
$accent:#04a777;
$dark : #ababab;
$font-family-sans:"Ubuntu", sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family:"Raleway", sans-serif !important;
}

.card{
  border:solid $primary;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(116, 24, 115, 0.3);
    border-radius:15px;
}


.table-bordered{
  border:solid $primary;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(116, 24, 115, 0.3);
    border-radius:30px;
}

#tableHolder
{
width: 100%;
overflow-x: scroll
}
.fa{
font-weight: 900;
font-size: 89px;
margin-left: auto;
margin-right: auto;
padding-top: 25px;
padding-bottom: 20px;
color:grey;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

#welcome-page{
background-image: 
linear-gradient(45deg,
              rgba(52,209,191, 0.75),
              rgba(8,83,156, 0.5)),
              url("https://images.unsplash.com/photo-1640876777002-badf6aee5bcc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
padding-top:200px;
padding-bottom:75px;

}

#jumbotron{
background-image: 
linear-gradient(45deg,
              rgba(52,209,191, 0.75),
              rgba(8,83,156, 0.5)),
              url("https://images.unsplash.com/photo-1551601651-2a8555f1a136?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80");
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../node_modules/react-tabs/style/react-tabs.scss';
